<ul class="nav nav-pills nav-justified" id="dashboard-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="reservations-tab" data-toggle="tab" href="#reservations" role="tab" aria-controls="reservations" aria-selected="true">My reservations</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="offers-tab" data-toggle="tab" href="#offers" role="tab" aria-controls="offers" aria-selected="false">My offers</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="reservations" role="tabpanel" aria-labelledby="reservations-tab">
      <% @reservations.each do |reservation| %>
        <div class="notification">
          <div class="notification-content">
            <p><small><%= reservation.date_time.strftime("for %A the %e of %B, %Y, at %l:%M %P") %></small></p>
            <p>Co'cook brings me a <strong><%= reservation.offer.label %></strong> at <%= reservation.address %></p>
          </div>
          <div class="notification-actions">
            <%= link_to " Cancel",
                        reservation_path(reservation),
                        method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class:"far fa-trash-alt" %>
          </div>
        </div>
      <% end %>
  </div>
  <div class="tab-pane fade" id="offers" role="tabpanel" aria-labelledby="offers-tab">
     <div class="container">
       <div class="row">
         <div class="col-12 col-lg-8">
          Dishes I propose
           <% @offers.each do |offer| %>
             <div class="notification">
               <div class="notification-content">
                 <p>I propose a <strong><%= offer.label %></strong> at <%= offer.km_perimeter %> km around</p>
                 <p><small>For <%= offer.rate_per_guest %> euros</small></p>
               </div>
               <div class="notification-actions">
                 <%= link_to " Cancel",
                             offer_path(offer),
                             method: :delete,
                             data: { confirm: 'Are you sure?' },
                             class:"far fa-trash-alt" %>
               </div>
             </div>
           <% end %>
         </div>
         <div class="col-12 col-lg-4">
            My next services
            <% @services.each do |service| %>
            <%  markers = { lat: service.latitude, lng: service.longitude } %>
              <div class="notification">
                <div >
                  <h4><%= service.date_time.strftime("%e %B %Y, at %l:%M %P") %></h4>
                  <p><strong><%= service.offer.label %></strong> x <%= pluralize service.guests_count, "guest" %><br>at : <%= service.address %></p><br>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mapModal">
                    See the map
                  </button>
                </div>
                <div class="notification-actions">
                  <%= link_to " Cancel",
                              reservation_path(service),
                              method: :delete,
                              data: { confirm: 'Are you sure?' },
                              class:"far fa-trash-alt" %>
                </div>
                <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true" >
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                       <div class="modal-body">
                       <div id="little_map"
                        style="height: 650px; width: 600px; margin: auto;"
                        data-markers="<%= markers.to_json %>"
                        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
                      </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
         </div>
       </div>
     </div>
  </div>
</div>
