<h1>Resume of my reservation</h1>
<%= <% simple_form_for @model do |f| -%>
<%= f.input :address %>
<%= f.input :date_time %>
<%= f.input :guests_count %>
<%= f.submit "confirm reservation", class:"btn btn-primary" %>
<% end -%> %>
