<h1>Resume of my reservation</h1>
<h4>I would love eat <strong><%= @offer.label %></strong></h4><br>
<%= simple_form_for([@offer, @reservation]) do |f| -%>
<%= f.input :address,
            label: "at the following address :",
            placeholder: "my address" %>
<%= f.input :date_time,
            as: :datetime,
            html5:true,
            datetime_select: Time.now,
            placeholder: "#{Time.now}",
            label: "for the next :" %>
<%= f.input :guests_count,
            label: "we will be :",
            placeholder: "4 persons" %>
<%= f.submit "confirm my reservation", class:"btn btn-block btn-primary" %>
<% end %>
