<!-- A modifier lors de l'utilisation de la gem search -->
<div class="bar pt-5"->
  <div class="search-bar">
    <%= form_tag offers_path, class: "form-inline", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control mr-sm-2",
        id: "address_input",
        placeholder: "Where do you eat?"
      %>
      <%= submit_tag "Search", class: "btn btn-warning my-2 my-sm-0" %>
    <% end %>
  </div>
</div>

<div class="container-card-and-map">
  <% if @offers.length > 0 %>
    <div class="py-5">
      <div class="cards">
        <% @offers.each do |offer| %>
          <div class="card-category">
            <h3><%= link_to offer.label, offer_path(offer) %></h3>
            <p><%= offer.description %><p>
              <div class="card-informations">
                <span class="badge badge-pill badge-dark"><%= offer.cuisine %></span>
                <span class="rate"><%= offer.rate_per_guest %> €</span>
              </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="map"
      style="height: 800px; width:650px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <% else %>
    <div class="container pt-5 text-center">
      <p>Sorry, there are no offers yet in <%= params[:query] %> <i class="far fa-frown"></i> </p>
      <p>Be the first to propose yours!</p>
      <%= link_to  new_offer_path do %>
        <button type="button" class="btn btn-primary">Create a new offer!</button>
      <% end %>
    </div>
  <% end  %>

</div>




